body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #2b2b2b;
}

header{
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
}

.nav-ul{
    width: 35em;
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

header>h2{
    margin-right: 3em;
}

header>ul>li>a{
    text-decoration: none;
    color: white;
}

.cover{
    width: 100%;
    height: 41em;
    display: flex;
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    margin-top: -4em;
}

.slider-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 45em;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.slide-txt{
    position: absolute;
    z-index: 3;
    width: 30em;
    margin-top: -30em;
    margin-left: 55em;
    text-align: right;
}

.slide-txt :first-child{
    font-size: 5em;
    margin-top: 0;
}

.slide-txt :nth-child(2){
    font-size: 1.3em;
    margin-top: -2em;
}

.prev, .next {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    /* color: #262626; */
    color: white;
    z-index: 2;
}

.prev {
    left: 6.5em;
}

.next {
    left: 11.5em;
}

.cover-num{
    position: absolute;
    width: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
    background-color: #2b2b2b;
    z-index: -1;
}

#num{
    font-size: 5em;
    color: #c5a47e;
}

.cover-social{
    position: absolute;
    width: 8em;
    height: 28.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    z-index: -1;
    margin-top: 12.6em;
}

#transparent-txt{
    position: absolute;
    font-size: 10em;
    opacity: 5%;
    margin-top: 0.5em;
    margin-left: -0.1em;
}

.about-us{
    display: flex;
    width: 100%;
    height: 55em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-left: 1px solid rgb(78, 78, 78);
}

.about-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
    border-left: 1px solid rgb(78, 78, 78);
    border-right: 1px solid rgb(78, 78, 78);
}

.about-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-right: 1px solid rgb(78, 78, 78);
}

#about-title{
    font-size: 2em;
}

.about-2>h1{
    width: 70%;
    margin-top: 2.8em;
    margin-bottom: 0em;
}

.about-2>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 70%;
    margin: 0;
    padding: 0;
    margin-top: -1em;

}

.about-2>ul>li{
    margin-left: 0;
    margin-top: 0.7em;
    font-size: 1.2em;
}

.about-2>ul>li>img{
    width: 3em;
}

.about-3>img{
    margin-top: 2em;
}

#project-title{
    font-size: 2em;
    margin-top: 2em;
}